<form>
  <bb-input-email-ui
    label="E-mail address"
    formControlName="email"
    placeholder="Please enter a value..."
  >
  </bb-input-email-ui>
</form>
<button
      bbButton
      [color]="'secondary'"
      [buttonSize]="'md'"
      [disabled]="false"
      [block]="false"
      class="m-2"
    >
      Hello World!
    </button>
    <button
      bbButton
      [color]="'primary'"
      [buttonSize]="'md'"
      [disabled]="false"
      [block]="false"
      class="m-2"
    >
      Hello World!
    </button>